/*
 *= require_tree .
 *= require_self
 */

body{
  margin: 0px;
}

/*.react-layout-components--box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}*/

.tab-layout {
  position: relative;
  left: 10%;
  right: 10%;
  width: 80%;
}
